.founder-row{
    border-radius: 10px;
}
.founder-row h3{
    color: var(--secondary-color);
}
.founder-row  p{
    color: #666;
}
.founder-row  h5{
    color: #666;
}
.founder-row  h1{
    color: #278c62;
}
.image-container{
    display: flex;
    justify-content: start;
    background-image: url(../assets/founder-background.png);
    background-position: start;
    width: 30rem;
    border-radius: 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.founder-img{
    width: 100%;
}
p{
    text-align: start;
}