.founder-row{
    border-radius: 10px;
}
.founder-row h1{
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--font-size-title);
    font-weight: bold;
    margin-top: 2rem;
}
.founder-row h2{
    font-size: var(--font-size-sub-title);
}
.image-container{
    display: flex;
    justify-content: center;
    background-image: url(../assets/founder-background.png);
    background-position: center;
    width: 30rem;
    border-radius: 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.founder-img{
    width: 100%;
}
