.home-container{
    background-color: var(--background-color);
    min-height: 90vh;
    margin-top: 5rem;
}
.hero-row{
    padding: 3rem; 
    margin: 1rem; 
    overflow: hidden;
}
.remove-overflow{
    overflow-y: hidden !important;
}
.title{
    color: var( --primary-color);
    font-size: var(--font-size-title);
    line-height: 3.5rem;
    overflow-y: hidden;
    font-weight:600;
    min-height: 17vh;
}
.title span{
    color: var(--secondary-color);  
}
.appointment-btn{
    background-color: var(--secondary-color);
    height: 2.5rem;
    /* width: 15rem; */
    color: var(--primary-color) ;
    border-radius: 10px;
    border: 1px ridge rgba(128, 128, 128, 0.542);
    color: #fff;
    overflow: hidden;
}
.appointment-btn:hover{
    border: 0.5px ridge var(--primary-color);
    background-color: var(--primary-color);
    transition: 0.3s;
    color: #fff ;
}  
.right-div{
    display: flex;
    justify-content: center; 
} 

.header__form {
    width: 100%;
    max-width: 400px;
    border: var(--primary-color) 2px solid  ;
    border-radius: 10px;
    
  }
.hero-image{
margin-top: -2rem;
}
.fixed-typewriter {
    display: inline-block;
    min-height: 40px; 
  }


  /* media query */
  @media only screen and (max-width: 600px) {
    
    .hero-row{
        padding: 0.6rem;
        margin-top: 1rem !important; 
        margin: 0;
        

    }
    .title{
        font-size:2.6rem;
        line-height: 2.5rem;
        overflow-y: hidden;
        font-weight:600;
        min-height: 17vh;
        width: 100%;
    }
    .hero-image{
        margin-top: -1rem;
    }
  }