.hero-section{
      /* background-image: linear-gradient(
      to right,
      rgba(142, 180, 164, 0.9),
      rgba(18, 172, 123, 0.701)
    ),
      url("../assets/pra.jpg"); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  .hero-section h1{
    color: #278c62;
  }
  .hero-section p{
    color: #278c62;
  }
  .service-text{
    overflow-y: hidden;
    color: #000;
  }
  .glass-card {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color:var(--primary-color);
    background-color:#12ac8d0f;
    min-height: 230px;
    
  }
  
  .glass-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  }
  

  
  .cta-section {
    background: linear-gradient(135deg, #0d6efd, #6610f2);
  }
.fs{
    color: var(--secondary-color);
}

.aminities img{
  display: block;
  height: 200px;
  width: 200px;
}